# WiFi Explorer Remote Sensor Startup Script
#
# Author: Adrian Granados <adrian@intuitibits.com>
#
[Unit]
Description=WiFi Explorer Remote Sensor

[Service]
ExecStart=/usr/local/bin/wifiexplorer-sensor wlan0

[Install]
WantedBy=multi-user.target
